<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.assist.corona_runner"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Corona Runner mobile</name>

  <description>
     ASSIST-Coid-19-Awareness.
  </description>

  <author href="https://build.phonegap.com" email="assisttry@gmail.com">
      ASSIST
  </author>
<icon src="coronarunnericon.png" />
</widget>